mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer 
            img(src="userLoggedIn.prifilePic",alt=("Hi"))
        .textareaContainer 
            textarea#postTextarea(placeholder="What's happening")
            .buttonsContainer 
                button#submitPostButton(disabled="") Post
